$color-blue: #23b1d3;
$color-blue2: #275ae6;
$color-blue3: #0139ba;
$color-blue4: #d9f8ff;
$color-white: #eeeeee;
$color-white2: #fff;
$color-white3: #ffffff;
$color-white4: #dcdcdc;
$color-white5: #eee;
$color-white6: #f9f9f9;
$color-white7: #aaa;
$color-gray: #252525;
$color-gray2: #aaaaaa;
$color-gray3: #454545;
$color-black: rgba(0, 0, 0, 0.1);
$color-black2: #000;
$color-green: rgba(0, 209, 87, 0.1);
$color-green2: #00d157;
$font-1: "CircularStdMedium";
$font-2: "CircularStdBold";

.resume-page {
  text-align: center;
  margin-top: 20px;
  .react-pdf__Page__canvas {
    width: 480px !important;
    height: 679px !important;
  }
  .nav-button {
    margin-top: 5px;
  }
}

.ant-select-selection--single {
  background-color: #0139ba !important;
  color: #fff;
  height: 40px;
}

.timeZone {
  background-color: #f9f9f9 !important;
  color: #fff !important;
  height: 40px;
}

.ant-select-selection-selected-value {
  padding-right: 0px;
  float: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.ant-select-selection__rendered {
  margin-top: 3px;
}
.ant-select-arrow {
  color: white;
}

.available_times {
  position: relative;
  padding: 30px;
  ul {
    &.heihlight_uline li:last-child {
      margin-bottom: 0;
    }
    &.avail_uline li {
      p {
        margin-bottom: 0;
        color: $color-gray3;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
      }
      strong {
        font-weight: normal;
        font-size: 14px;
        color: $color-gray;
        line-height: 18px;
        font-family: $font-1;
      }
      border-bottom: 1px solid $color-white5;
      padding-bottom: 10px;
      margin-bottom: 10px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
    }
  }
  h3 {
    color: $color-white7;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
    font-family: $font-1;
  }
  .today_available_box {
    background-color: $color-green;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    padding: 12px 25px;
    img {
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      color: $color-green2;
      font-size: 14px;
      line-height: 18px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.addCandidateBtn {
  background-color: #d9f8ff !important;
  color: #23b1d3 !important;
  text-align: center !important;
}
