@font-face {
  font-family: "CircularStdBook";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/CircularStd-Book"),
    url("../fonts/CircularStd-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularStdMedium";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Medium"),
    url("../fonts/CircularStd-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularStdBold";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Bold"),
    url("../fonts/CircularStd-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularStdBlack";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd-Black"),
    url("../fonts/CircularStd-Black.woff") format("woff");
}
