.schedule-modal {
  width: 100%;
  min-width: 700px;
  input {
    width: 200px;
  }
}

.create-schedule-modal {
  width: 100%;
  min-width: 700px;
}


.ant-modal-content .ant-modal-header .ant-modal-title {
  padding: 0px;
}

.modal-date-picker {
  width: 310px !important;
  input {
    width: 310px;
  }
}

.time-zone-picker-form-item {
  min-height: 80px;
  .ant-select-selection__rendered {
    margin-top: 10px;
  }

  .time-zone-select {
  
    height: 50px;
    width: 310px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 0;
  }

  .ant-select-selection--single {
    height: 50px;
    width: 310px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #f9f9f9 !important;
  }

  .ant-select-selection-selected-value {
    margin-top: 9px;
    text-align: left;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: 300;
  }
}
