body {
  font-size: 14px;
  line-height: 20px;
  outline: none;
  font-family: "CircularStdBook" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 24px;
  margin-top: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.mt-30 {
  margin-top: 30px;
}

.fade {
  opacity: unset;
}

$color-blue: #000a22;
$color-white: #fff;
$color-blue-light: rgba(6, 29, 86, 0.25);
$color-blue-royal: #0139ba;
$color-blue-2: #061d56;
$color-white-2: #eee;
$color-grey: #454545;
$color-sky-blue: #23b1d3;
$color-grey-2: #252525;
$color-grey-3: #adadad;
$color-grey-4: #aaa;
$color-white-3: #aaaaaa;
$color-white-4: #f9f9f9;
$color-white-5: #ffdada;
$color-red: #f44f4f;
$color-green-light: #eef7f2;
$color-green: #00d157;

.secondaryButton {
  background-color: #d9f8ff !important;
  color: #23b1d3 !important;
  text-align: center !important;
}

.red_text {
  color: $color-red;
}
.cl_btn {
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  &.missed_btn {
    background: $color-white-5;
    color: $color-red;
  }
  &.Unavailable_btn {
    background: $color-white-2;
    color: $color-grey-3;
  }
  &.complete_btn {
    background: $color-green-light;
    color: $color-green;
  }
}
.dashboard {
  position: relative;
  .button-bar {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    font-size: 40px;
    margin: 23px 15px;
    img {
      max-width: 35px;
    }
  }

  .vs_left_panel {
    position: fixed;
    height: 100vh;
    background: $color-blue;
    padding: 0;
    overflow: auto;
    box-shadow: 4px 0px 10px $color-blue-light;
    z-index: 9;
    ul.main_navigation li a {
      padding: 13px;
      display: block;
      position: relative;
      color: $color-white;
      font-size: 14px;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
    }
    .logo_dashboard {
      padding: 20px 13px;
      background: $color-blue-royal;
    }
    ul.main_navigation li a img {
      margin-right: 8px;
      max-width: 14px;
      margin-top: -4px;
    }
  }
  .vs_right_panel .dash_head p img {
    margin-top: -5px;
    margin-left: 5px;
  }
  .vs_left_panel {
    ul.main_navigation li {
      a {
        &:hover,
        &:focus {
          background: $color-blue-2;
          text-decoration: none;
        }
      }
      &.active a {
        background: $color-blue-2;
        text-decoration: none;
      }
    }
    .logo_dashboard img {
      max-width: 150px;
    }
  }
  .vs_right_panel {
    margin-left: -10px;
    width: 100%;
    position: relative;
    .dash_head {
      color: #252525;
      word-spacing: -3px;
      height: 92px;
      font-size: 20px;
      line-height: 25px;
      font-family: CircularStdBook;
      background: $color-white;
      margin-left: -20px;
      margin-right: -40px;
      padding: 15px;
      position: relative;
      border-bottom: 1px solid $color-white-2;
      font-weight: 300;
      .name {
        margin-left: 15px;
        float: left;
        margin-top: 10px;

        .name-span {
          display: block;
        }

        .status-span {
          display: block;

          color: #454545;
          font-family: "CircularStdBook";
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }
      }
      .status {
        float: left;
        margin-left: 15px;
        color: #454545;
        font-family: "CircularStdBook";
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      .status-select {
        float: right;
        margin-left: 15px;
        color: #454545;
        font-family: "CircularStdBook";
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      h2 {
        font-size: 22px;
        color: $color-grey-2;
      }
      p strong {
        font-weight: normal;
      }
    }
    .nav-tabs {
      > li {
        > a {
          margin-right: 0;
          border-radius: 0;
          padding: 13px 0px;
          margin-left: 20px;
          color: $color-grey;
          font-family: "CircularStdMedium" !important;
          font-size: 14px;
          border: none;
          border-bottom: 3px solid transparent;
          text-transform: capitalize;
        }
        &.active > a {
          background-color: transparent;
          border-bottom-color: $color-sky-blue !important;
          color: $color-sky-blue;
          &:focus,
          &:hover {
            background-color: transparent;
            border-bottom-color: $color-sky-blue !important;
            color: $color-sky-blue;
          }
        }
      }
      border-bottom: 1px solid $color-white-2;
      margin-left: -10px;
      margin-right: -40px;
      background: $color-white;
      padding: 13px 0px;
    }
    .nav > li > a {
      &:focus,
      &:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
    .tab-content {
      .profile_detail .p_grid {
        position: relative;
        padding: 20px;
        border-radius: 5px;
        h3 {
          color: $color-white;
          font-size: 14px;
          text-transform: capitalize;
        }
        p {
          font-size: 44px;
          color: $color-white;
          font-family: "CircularStdBold" !important;
          margin-bottom: 0;
          line-height: 44px;
        }
      }
      .profile_call {
        border: 1px solid $color-white-2;
        background: $color-white;
        border-radius: 5px;
        padding: 20px 15px 20px;
        .p_call_head {
          position: relative;
          margin-bottom: 10px;
          padding: 0px 8px;
          h2 {
            margin-bottom: 0;
            font-size: 20px;
            color: $color-grey-2;
          }
        }
        .table-responsive .table {
          > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 1px solid $color-white-2;
            color: $color-white-3;
            text-transform: uppercase;
            font-size: 12px;
            padding: 8px 8px 15px;
            font-family: "CircularStdMedium" !important;
            font-weight: normal;
          }
          margin-bottom: 0;
          tbody tr:nth-child(even) {
            background: $color-white-4;
          }
        }
        .p_call_head a {
          color: $color-sky-blue;
          font-family: "CircularStdMedium" !important;
        }
        .table-responsive .table {
          > {
            tbody > tr > {
              td,
              th {
                vertical-align: middle;
                border-bottom: 1px solid $color-white-2;
                padding: 10px 8px;
              }
            }
            tfoot > tr > {
              td,
              th {
                vertical-align: middle;
                border-bottom: 1px solid $color-white-2;
                padding: 10px 8px;
              }
            }
            thead > tr > td {
              vertical-align: middle;
              border-bottom: 1px solid $color-white-2;
              padding: 10px 8px;
            }
          }

          tbody tr {
            .cl_btn {
              border-radius: 5px;
              padding: 5px 10px;
              display: inline-block;
              &.missed_btn {
                background: $color-white-5;
                color: $color-red;
              }
              &.Unavailable_btn {
                background: $color-white-2;
                color: $color-grey-3;
              }
              &.complete_btn {
                background: $color-green-light;
                color: $color-green;
              }
            }
            font-size: 13px;
            color: $color-grey;
            .record_link li {
              color: $color-sky-blue;
              a {
                color: $color-sky-blue;
              }
            }
          }
        }
      }
      .profile_desc {
        .questions_answer {
          border: 1px solid $color-white-2;
          background: $color-white;
          border-radius: 5px;
          padding: 20px;
          // min-height: 800px;
        }
        .calls {
          border: 1px solid $color-white-2;
          background: $color-white;
          border-radius: 5px;
          padding: 20px;
        }
        margin-bottom: 30px;
      }
      .call_date img {
        max-width: 14px;
        margin-right: 5px;
      }
      .profile_call .table-responsive .table tbody tr td.call_date img {
        max-width: 14px;
        margin-right: 5px;
      }
      .profile_desc .questions_answer {
        .question_main .ques_grid {
          h3 {
            color: $color-grey-4;
            text-transform: uppercase;
            font-size: 13px;
            font-family: "CircularStdMedium" !important;
            margin-bottom: 0;
            line-height: 22px;
          }
          p {
            margin-bottom: 0;
            color: $color-grey;
            font-size: 15px;
            line-height: 24px;
          }
          margin-top: 18px;
        }
        .que_head {
          h2 {
            margin-bottom: 0;
            font-size: 20px;
            color: $color-grey-2;
          }
          a {
            font-family: "CircularStdMedium" !important;
            color: $color-sky-blue;
          }
        }
      }
    }
    .nav-tabs > {
      .nav-item.active {
        background-color: transparent;
        border-bottom-color: $color-sky-blue !important;
        color: $color-sky-blue;
        outline: none;
        > :focus {
          background-color: transparent;
          border-bottom-color: $color-sky-blue !important;
          color: $color-sky-blue;
          outline: none;
        }
      }
      .active > a:hover {
        background-color: transparent;
        border-bottom-color: $color-sky-blue !important;
        color: $color-sky-blue;
        outline: none;
      }
      a {
        margin-right: 0;
        border-radius: 0;
        padding: 13px 0px;
        margin-left: 20px;
        color: $color-grey;
        font-family: "CircularStdMedium" !important;
        font-size: 14px;
        border: none;
        border-bottom: 3px solid transparent;
        text-transform: capitalize;
        text-decoration: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-bottomLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-bottomRight
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-topLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-topRight
  > .ant-popover-content
  > .ant-popover-arrow:after {
  left: 0;
  margin-left: -4px;
}

/********** Add Your Global RTL CSS Here **********/
/* Popover */
html[dir="rtl"] .ant-popover {
  text-align: right;
}

/* Ecommerce Card */
html[dir="rtl"] .isoCardInfoForm .ant-input {
  text-align: right;
}

/* Modal */
html[dir="rtl"] .has-success.has-feedback:after,
html[dir="rtl"] .has-warning.has-feedback:after,
html[dir="rtl"] .has-error.has-feedback:after,
html[dir="rtl"] .is-validating.has-feedback:after {
  left: 0;
  right: auto;
}

html[dir="rtl"] .ant-modal-close {
  right: inherit;
  left: 0;
}

html[dir="rtl"] .ant-modal-footer {
  text-align: left;
}

html[dir="rtl"] .ant-modal-footer button + button {
  margin-left: 0;
  margin-right: 8px;
}

html[dir="rtl"] .ant-confirm-body .ant-confirm-content {
  margin-right: 42px;
}

html[dir="rtl"] .ant-btn > .anticon + span,
html[dir="rtl"] .ant-btn > span + .anticon {
  margin-right: 0.5em;
}

html[dir="rtl"] .ant-btn-loading span {
  margin-left: 0;
  margin-right: 0.5em;
}

html[dir="rtl"]
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
  padding-left: 25px;
  padding-right: 29px;
}

html[dir="rtl"]
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline)
  .anticon {
  margin-right: -14px;
  margin-left: 0;
}

/* Confirm */
html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-body > .anticon {
  margin-left: 16px;
  margin-right: 0;
  float: right;
}

html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-btns {
  float: left;
}

html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-btns button + button {
  margin-right: 10px;
  margin-left: 0;
}

/* Message */
html[dir="rtl"] .ant-message .anticon {
  margin-left: 8px;
  margin-right: 0;
}

/* Pop Confirm */
html[dir="rtl"] .ant-popover-message-title {
  padding-right: 20px;
  padding-left: 0;
}

html[dir="rtl"] .ant-popover-buttons {
  text-align: left;
}

/* Notification */
html[dir="rtl"]
  .ant-notification-notice-closable
  .ant-notification-notice-message {
  padding-left: 24px;
  padding-right: 0;
}

html[dir="rtl"]
  .ant-notification-notice-with-icon
  .ant-notification-notice-message,
html[dir="rtl"]
  .ant-notification-notice-with-icon
  .ant-notification-notice-description {
  margin-right: 48px;
}

html[dir="rtl"] .ant-notification-notice-close {
  right: auto;
  left: 16px;
}

html[dir="rtl"] .ant-notification-notice-with-icon {
  left: 0;
}

/* Dropzone */
html[dir="rtl"] .dz-hidden-input {
  display: none;
}

.ant-modal {
}
.ant-modal-content {
  border-radius: 5px !important;
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
  padding-bottom: 15px;
}
.ant-modal-content .ant-modal-header {
  border-bottom: none;
}
.ant-modal-content .ant-modal-header .ant-modal-title {
  position: relative;
  top: 25px;
  color: #252525;
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 10px;
}

.ant-modal-content input {
  height: 50px;
}
.ant-modal-content input,
.ant-modal-content textarea {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  resize: none;
  background-color: #f9f9f9;
  font-size: 14px;
}

.ant-modal-content button {
  border-radius: 5px;
  box-shadow: none;
  border: none;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
.ant-modal-content button.addCandidateBtn {
  background-color: #d9f8ff !important;
  color: #23b1d3 !important;
  text-align: center !important;
}

.ant-modal.modal.send__notification button.addCandidatesBtn {
  margin-bottom: 20px;
}
